/* cores e fontes principais definidas */
:root {
    --primary-color: #0D0D0D; /*Cor principal*/
    --secondary-color: #8a3bbf50; /*Cor secundária*/
    --accent-color: #464646; /*Cor de destaque*/
    --text-color: #000000; /*cor principal do texto*/
    --background-color: #f7f9fc; /*cor do plano de fundo*/
    --font-family: 'Arial', sans-serif; /*fonte principal*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos do corpo do site*/
body { 
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*estilos para o cabeçalho*/
header {
    background: var(--primary-color);
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Estilos para o menu de navegação dentro do cabeçalho */
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px; /*definindo o espaçamento entre os itens do menu*/
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /*transição para mudança de cor*/
}

header nav ul li a:hover {
    color: var(--accent-color); /*muda de cor ao passar o mouse por cima*/
}

main {
    padding: 20px;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h1, h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

p, ul {
    margin-bottom: 15px; /*espaçamento inferior*/
}

ul {
    list-style-type: none; /*remove as bolinhas*/
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    transition: text-decoration 0.3s;
}

ul li a:hover {
    text-decoration: underline; /*sublinha os links quando passar o mouse por cima*/
}

/*elementos do formulario em colunas*/
form { 
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background: #fff;
    transition: border-color 0.3s; /* transição suave para a borda */
}

form input:focus, form textarea:focus {
    border-color: var(--accent-color); /*cor da borda muda ao focar*/
    outline: none;  /*remove a linha de foco padrão */
}

/*estilos para botão do formulário*/
form button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: var(--accent-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
/*muda a cor do fundo quando o mouse passar por cima do botão*/
form button:hover {
    background: #000000; 
}
